@using MZXRM.PSS.Common
<section class="content-header">
    <h1>
        Dashboard
        <small>MZ XRM Inventory System</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    @if (ExceptionHandler.HasException())
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
            @ExceptionHandler.GetExceptionMessage()
        </div>
        { ExceptionHandler.CloseException(); }
    }
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Purchase</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-sm-3">
                    <a href="/Purchase" class="btn btn-block btn-primary margin">Purchase Orders</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/GRNList" class="btn btn-block btn-primary margin">GRNs</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/GRNList?type=loan" class="btn btn-block btn-primary margin">Loan</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/DCLList" class="btn btn-block btn-primary margin">Duty Clear</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateOrder" class="btn btn-block btn-primary margin">Create PO</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateGRN" class="btn btn-block btn-primary margin">Create GRN</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateGRN?type=loan" class="btn btn-block btn-primary margin">Create LRN</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateDCL" class="btn btn-block btn-primary margin">Create DCL</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Sales</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-sm-3">
                    <a href="/SaleOrder" class="btn btn-block btn-primary margin">SO</a>
                </div>
                <div class="col-sm-3">
                    <a href="#TODO" class="btn btn-block btn-primary margin">DO</a>
                </div>
                <div class="col-sm-3">
                    <a href="#TODO" class="btn btn-block btn-primary margin">DC</a>
                </div>
                <div class="col-sm-3">
                    <a href="#TODO" class="btn btn-block btn-primary margin">Diverts</a>
                </div>
                <div class="col-sm-3">
                    <a href="#TODO" class="btn btn-block btn-primary margin">TO DO</a>
                </div>
                <div class="col-sm-3">
                    <a href="#TODO" class="btn btn-block btn-primary margin">TO DO</a>
                </div>
                <div class="col-sm-3">
                    <a href="#TODO" class="btn btn-block btn-primary margin">TO DO</a>
                </div>
                <div class="col-sm-3">
                    <a href="#TODO" class="btn btn-block btn-primary margin">TO DO</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-12">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Reports</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-sm-2">
                    <a href="/Stock" class="btn btn-block bg-aqua margin">Stock Status</a>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</section>
