
<section class="content-header">
    <h1>
        Sales
        <small>Create Delivery Chalan</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/saleorder"><i class="fa fa-dashboard"></i> Sales</a></li>
        <li class="active">Update</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="box box-default box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Quick Links</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-6">
                <div class="col-sm-4">
                    <a href="/purchase" class="btn btn-block btn-primary margin">My SOs</a>
                </div>
                <div class="col-sm-4">
                    <a href="/purchase/createorder" class="btn btn-block btn-primary margin">Create SO</a>
                </div>
                <div class="col-sm-4">
                    <a href="/purchase/creategrn" class="btn btn-block btn-primary margin">...</a>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-block btn-primary margin">...</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-4">
                    <a href="/Stock" class="btn btn-block btn-info margin ">TODO</a>
                </div>
                <div class="col-sm-4">
                    <a href="/Purchase" class="btn btn-block btn-info margin ">TODO</a>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-warning box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Create new DC</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>DC Number</label>
                        <input type="text" class="form-control" id="input" value="" disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>DC Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" value="">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>DO Number</label>
                        <select class="form-control">
                            <option>--Approved DOs--</option>
                            <option>DO-1001</option>
                            <option>DO-1006</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>From Store</label>
                        <select class="form-control">
                            <option>--Store--</option>
                            <option>Gowdown 1</option>
                            <option>KPT</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Customer</label>
                        <select class="form-control">
                            <option>--Customer--</option>
                            <option>Customer 1</option>
                            <option>Rafhan</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Truck No.</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Bilty No.</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Gulbai Slip No.</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Net Weight</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Transporter</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Driver Name</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Driver Phone</label>
                        <input type="text" class="form-control" id="input" value="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input" value="DO Approved for client" placeholder="Remarks">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="col-sm-4">
                <a href="/saleorder/deliverychalan" class="btn btn-primary">Create DC</a>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
                <span class="badge bg-yellow pull-right">Pending</span>
            </div>

        </div>
    </div>
    <!-- /.box -->
</section>
