
<section class="content-header">
    <h1>
        Sales
        <small>Update Delivery Order</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/home"><i class="fa fa-dashboard"></i> Sales</a></li>
        <li class="active">DO</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="box box-default box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Quick Links</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-6">
                <div class="col-sm-4">
                    <a href="/SaleOrder" class="btn btn-block btn-primary margin">My SOs</a>
                </div>
                <div class="col-sm-4">
                    <a href="/SaleOrder/CreateOrder" class="btn btn-block btn-primary margin">Create SO</a>
                </div>
                <div class="col-sm-4">
                    <a href="/SaleOrder/CreateDO" class="btn btn-block btn-primary margin">Create DO</a>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-block btn-primary margin">...</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-4">
                    <a href="/Stock" class="btn btn-block btn-info margin ">Stock Report</a>
                </div>
                <div class="col-sm-4">
                    <a href="/Purchase" class="btn btn-block btn-info margin ">Purchase Orders</a>
                </div>
                <div class="col-sm-4">
                    <a href="/SaleOrder" class="btn btn-block btn-info margin ">Sale Orders</a>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Delivery Oder: DO-1004</h3>
            <p class="pull-right">Created: Zeeshan Shafqat on 12/15/2017</p>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">

                <div class="col-sm-1">
                    <label>SO No:</label>
                    <p>SO-1001</p>
                </div>
                <div class="col-sm-1">
                    <label>SO Date:</label>
                    <p>15/12/2017</p>
                </div>
                <div class="col-sm-1">
                    <label>SO Expiry:</label>
                    <p>31/12/2017</p>
                </div>
                <div class="col-sm-1">
                    <label>SO Type:</label>
                    <p>LC</p>
                </div>
                <div class="col-sm-1">
                    <label>PO Number:</label>
                    <p>ABC1234xyz</p>
                </div>
                <div class="col-sm-1">
                    <label>PO Date:</label>
                    <p>15/12/2017</p>
                </div>
                <div class="col-sm-1">
                    <label>PO Expiry:</label>
                    <p>16/12/2017</p>
                </div>
                <div class="col-sm-1">
                    <label>Origin:</label>
                    <p>Indo</p>
                </div>
                <div class="col-sm-1">
                    <label>Vessel:</label>
                    <p>ARIETTA</p>
                </div>
                <div class="col-sm-1">
                    <label>Size:</label>
                    <p>0-50</p>
                </div>
                <div class="col-sm-1">
                    <label>Trader:</label>
                    <p>KS Traders</p>
                </div>
                <div class="col-sm-1 pull-right">
                    <span class="badge bg-blue pull-right">In Process</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Customer:</label>
                    <p>Orient Coating Company</p>
                </div>
                <div class="col-sm-1">
                    <label>Quantity:</label>
                    <span class="badge bg-green">10,000.000</span>
                </div>

                <div class="col-sm-1">
                    <label>Agreed Rate:</label>
                    <p>PKR 10,000</p>
                </div>
                <div class="col-sm-2">
                    <label>Agreed Tax Rate:</label>
                    <p>17%</p>
                </div>
                <div class="col-sm-2">
                    <label>Rate inc. Tax:</label>
                    <p>PKR <span class="badge bg-green">11,700.000</span></p>
                </div>
                <div class="col-sm-1">
                    <label>Sale Station:</label>
                    <p>Islamabad</p>
                </div>
                <div class="col-sm-2">
                    <label>Trader Commission:</label>
                    <p>PKR 200</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>DO Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" value="15/11/2017">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Loading Point</label>
                        <select class="form-control">
                            <option>--Loading Point--</option>
                            <option selected>Karachi</option>
                            <option>Islamabad</option>
                            <option>Lahore</option>
                            <option>Peshawar</option>
                            <option>Faisalabad</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" id="input" value="4000">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Lifting Start</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" value="15/12/2017">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Lifting End</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" value="31/12/2017">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Delivery Destination</label>
                        <select class="form-control">
                            <option>--Destination--</option>
                            <option>Karachi</option>
                            <option>Islamabad</option>
                            <option>Lahore</option>
                            <option>Peshawar</option>
                            <option selected>Faisalabad</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Transporter</label>
                        <select class="form-control">
                            <option>--Destination--</option>
                            <option>Adil Enterprise</option>
                            <option>Al-Khair</option>
                            <option>Fastway Goods</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Dumper Rate</label>
                        <input type="text" class="form-control" id="input" value="3000">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Payment Term</label>
                        <input type="text" class="form-control" id="input" value="inv">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Per Ton</label>
                        <input type="text" class="form-control" id="input" value="3500">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Commission</label>
                        <input type="text" class="form-control" id="input" value="400">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Commission of Agent</label>
                        <input type="text" class="form-control" id="input" value="100">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input" value="SO is pending for approval for our client abc" placeholder="Remarks">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="col-sm-3">
                <a href="/saleorder/UpdateDO" class="btn btn-primary">Update</a>
                <a href="/saleorder/DODetail" class="btn btn-danger">Reset</a>
            </div>
            
        </div>
    </div>
    <!-- /.box -->
</section>
