
<section class="content-header">
    <h1>
        Stores
        <small>Manage your Stores here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">Stores</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Stores List</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Store Number</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Capacity</th>
                        <th>Sub Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1001" /></td>
                        <td><input type="text" class="form-control" id="input" value="KPT" /></td>
                        <td><input type="text" class="form-control" id="input" value="Karachi" /></td>
                        <td><input type="text" class="form-control" id="input" value="100000" /></td>
                        <td><input type="text" class="form-control" id="input" value="KPT" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1002" /></td>
                        <td><input type="text" class="form-control" id="input" value="Hawks bay" /></td>
                        <td><input type="text" class="form-control" id="input" value="Karachi" /></td>
                        <td><input type="text" class="form-control" id="input" value="100000" /></td>
                        <td><input type="text" class="form-control" id="input" value="Hawks bay" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1003" /></td>
                        <td><input type="text" class="form-control" id="input" value="New Godown" /></td>
                        <td><input type="text" class="form-control" id="input" value="Karachi" /></td>
                        <td><input type="text" class="form-control" id="input" value="100000" /></td>
                        <td><input type="text" class="form-control" id="input" value="KPT" /></td>
                        <td>
                            <span class="badge bg-green">active</span>

                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1004" /></td>
                        <td><input type="text" class="form-control" id="input" value="New Godown 2" /></td>
                        <td><input type="text" class="form-control" id="input" value="Karachi" /></td>
                        <td><input type="text" class="form-control" id="input" value="100000" /></td>
                        <td><input type="text" class="form-control" id="input" value="KPT" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1005" /></td>
                        <td><input type="text" class="form-control" id="input" value="Groney Yard" /></td>
                        <td><input type="text" class="form-control" id="input" value="Karachi" /></td>
                        <td><input type="text" class="form-control" id="input" value="100000" /></td>
                        <td><input type="text" class="form-control" id="input" value="KPT" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1006" /></td>
                        <td><input type="text" class="form-control" id="input" value="Port Qasim" /></td>
                        <td><input type="text" class="form-control" id="input" value="Karachi" /></td>
                        <td><input type="text" class="form-control" id="input" value="100000" /></td>
                        <td><input type="text" class="form-control" id="input" value="KPT" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1007" /></td>
                        <td><input type="text" class="form-control" id="input" value="Wazir Mention" /></td>
                        <td><input type="text" class="form-control" id="input" value="Lahore" /></td>
                        <td><input type="text" class="form-control" id="input" value="100" /></td>
                        <td><input type="text" class="form-control" id="input" value="Main" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1008" /></td>
                        <td><input type="text" class="form-control" id="input" value="Train/transit" /></td>
                        <td><input type="text" class="form-control" id="input" value="Lahore" /></td>
                        <td><input type="text" class="form-control" id="input" value="100" /></td>
                        <td><input type="text" class="form-control" id="input" value="Main" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1009" /></td>
                        <td><input type="text" class="form-control" id="input" value="CCM" /></td>
                        <td><input type="text" class="form-control" id="input" value="Lahore" /></td>
                        <td><input type="text" class="form-control" id="input" value="100" /></td>
                        <td><input type="text" class="form-control" id="input" value="Main" /></td>
                        <td>
                            <span class="badge bg-green">active</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-primary">Update</a> <a href="#" class="btn btn-sm btn-danger">Deactivate</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-9999" /></td>
                        <td><input type="text" class="form-control" id="input" value="My Store" /></td>
                        <td><input type="text" class="form-control" id="input" value="Faisalabad" /></td>
                        <td><input type="text" class="form-control" id="input" value="100" /></td>
                        <td><input type="text" class="form-control" id="input" value="Main" /></td>
                        <td>
                            <span class="badge bg-red">Inactive</span>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-success">Activate</a> <a href="#" class="btn btn-sm btn-danger">Delete</a></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="input" value="ST-1010" /></td>
                        <td><input type="text" class="form-control" id="input" value="" /></td>
                        <td><input type="text" class="form-control" id="input" value="" /></td>
                        <td><input type="text" class="form-control" id="input" value="" /></td>
                        <td><input type="text" class="form-control" id="input" value="" /></td>
                        <td>
                        </td>
                        <th><a href="#" class="btn btn-sm btn-success">Create</a></th>
                    </tr>
                </tbody>
            </table>

            <!-- /.box-body -->
        </div>
        <div class="box-footer">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal-createstore">Add Store</button>
            </div>
            
        </div>
    </div>
    <div class="col-sm-12">
        <a href="" class="btn btn-default pull-right">Download Report</a>
    </div>
</section>
<div class="modal fade" id="modal-createstore">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Store Detail</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="col-sm-4">
                            <label>Store Number</label>
                            <input type="text" class="form-control" id="input" />
                        </div>
                        <div class="col-sm-4">
                            <label>Name</label>
                            <input type="text" class="form-control" id="input" />
                        </div>
                        <div class="col-sm-4">
                            <label>Location</label>
                            <input type="text" class="form-control" id="input" />
                        </div>
                        <div class="col-sm-4">
                            <label>Capacity</label>
                            <input type="text" class="form-control" id="input" />
                        </div>
                        <div class="col-sm-4">
                            <label>Sub Type</label>
                            <input type="text" class="form-control" id="input" />
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>