
<section class="content-header">
    <h1>
        Sales
        <small>Update Delivery Order</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/home"><i class="fa fa-dashboard"></i> Sales</a></li>
        <li class="active">Update</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="box box-default box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Quick Links</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-6">
                <div class="col-sm-4">
                    <a href="/purchase" class="btn btn-block btn-primary margin">My SOs</a>
                </div>
                <div class="col-sm-4">
                    <a href="/purchase/createorder" class="btn btn-block btn-primary margin">Create SO</a>
                </div>
                <div class="col-sm-4">
                    <a href="/purchase/creategrn" class="btn btn-block btn-primary margin">...</a>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-block btn-primary margin">...</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-4">
                    <a href="/Stock" class="btn btn-block btn-info margin ">TODO</a>
                </div>
                <div class="col-sm-4">
                    <a href="/Purchase" class="btn btn-block btn-info margin ">TODO</a>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Delivery Oder: DO-1004</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>DO Number</label>
                        <input type="text" class="form-control" id="input" value="DO-1001" disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>DO Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" value="15/11/2017">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>DO Number</label>
                        <input type="text" class="form-control" id="input" value="SO-1001" disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Loading Point</label>
                        <input type="text" class="form-control" id="input" value="Khi">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>SO Balance</label>
                        <input type="text" class="form-control" id="input" value="4500" disabled>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label>Customer</label>
                        <select class="form-control" disabled>
                            <option>--Select Customer--</option>
                            <option selected>Customer 1</option>
                            <option>[item2]</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <span class="badge bg-green pull-right">Approved</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Coal Description</label>
                        <select class="form-control">
                            <option>--Coal Description--</option>
                            <option selected>Indo</option>
                            <option>Afghan</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Size</label>
                        <select class="form-control">
                            <option>--Size--</option>
                            <option selected>10-25</option>
                            <option>25-50</option>
                            <option>0-0</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Vessel</label>
                        <select class="form-control">
                            <option>--Vessel--</option>
                            <option selected>SJ</option>
                            <option>Star Jing</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" id="input" value="40000" disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Lifting Start Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" value="15/11/2017">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Lifting End Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" value="15/11/2017">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Deliver Destination</label>
                        <input type="text" class="form-control" id="input" value="Faisalabad">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Transporter Name</label>
                        <input type="text" class="form-control" id="input" value="abc">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Dumper Rate</label>
                        <input type="text" class="form-control" id="input" value="3000">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Payment Term</label>
                        <input type="text" class="form-control" id="input" value="inv">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Per Ton</label>
                        <input type="text" class="form-control" id="input" value="3500">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Commission</label>
                        <input type="text" class="form-control" id="input" value="400">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Freight Commission of Agent</label>
                        <input type="text" class="form-control" id="input" value="100">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input" value="SO is pending for approval for our client abc" placeholder="Remarks">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="col-sm-3">
                <a href="/saleorder/deliveryorder" class="btn btn-primary">Update DO</a>
                <a href="/saleorder/deliverorder" class="btn btn-success">Mark Complete</a>
            </div>
            <div class="col-sm-1">
                <a href="/saleorder/createdc" class="btn btn-success">Create DC</a>
            </div>
            <div class="col-sm-3">
                <p class="help-block">Created by <label>Zeeshan</label> on <label>01 Nov 2017</label></p>
            </div>
            <div class="col-sm-3">
                <p class="help-block">Last Modified by <label>Zeeshan</label> on <label>02 Nov 2017</label></p>
            </div>
            <div class="col-sm-2">
                <span class="badge bg-green pull-right">Approved</span>
            </div>

        </div>
    </div>
    <!-- /.box -->
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">DC</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>From</th>
                        <th>Allowed Quantity</th>
                        <th>Balance</th>
                        <th>Bilty No</th>
                        <th>Gulbai Slip No</th>
                        <th>Weight</th>
                        <th>Transporter</th>
                        <th>Driver Name</th>
                        <th>Driver Phone</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th><a class="btn btn-primary" href="/Saleorder/deliveryorder">DC-1002</a></th>
                        <td>01 Nov 2017</td>
                        <td>Godown 1</td>
                        <td>10000</td>
                        <td>3000</td>
                        <td>8524</td>
                        <td>ABC</td>
                        <td>1000</td>
                        <td>ABN</td>
                        <td></td>
                        <td></td>
                        <td><span class="badge bg-green">Complete</span></td>
                    </tr>
                    <tr>
                        <th><a class="btn btn-primary" href="/Saleorder/deliveryorder">DC-1002</a></th>
                        <td>01 Nov 2017</td>
                        <td>Godown 1</td>
                        <td>10000</td>
                        <td>3000</td>
                        <td>8524</td>
                        <td>ABC</td>
                        <td>1000</td>
                        <td>ABN</td>
                        <td></td>
                        <td></td>
                        <td><span class="badge bg-yellow">Pending</span></td>
                    </tr>
                    <tr>
                        <th><a class="btn btn-primary" href="/Saleorder/deliveryorder">DC-1002</a></th>
                        <td>01 Nov 2017</td>
                        <td>Godown 1</td>
                        <td>10000</td>
                        <td>3000</td>
                        <td>8524</td>
                        <td>ABC</td>
                        <td>1000</td>
                        <td>ABN</td>
                        <td></td>
                        <td></td>
                        <td><span class="badge bg-green">Complete</span></td>
                    </tr>
                </tbody>
            </table>

            <!-- /.box-body -->
        </div>

    </div>
</section>
