@model IEnumerable<MZXRM.PSS.WebClient.Models.Size>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Quantity
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (item.Name != "00-00")
        {
            <td>
                <input id="Qty_@item.Id" name="Qty_@item.Id" value="" onchange="adjustQuantity(@item.Id);" />
            </td>}

        else
        {
            <td>
                <input id="Qty_@item.Id" name="Qty_@item.Id" value="" onchange="adjustQuantity(@item.Id);" disabled />
            </td>
        }

    </tr>
}

</table>
