@model IEnumerable<MZXRM.PSS.WebClient.Models.Size>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Quantity
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <input id="Qty_@item.Id" name="Qty_@item.Id" value=""/>
        </td>

    </tr>
}

</table>
